{% sw_extends '@parent/storefront/component/listing/filter/filter-multi-select.html.twig' %}

{% set filterItemId = 'filter-' ~ name ~ '-' ~ random() %}

{% if pluginSelector is not defined %}
	{% set pluginSelector = 'filter-multi-select' %}
{% endif %}

{% if dataPluginSelectorOptions is not defined %}
	{% set dataPluginSelectorOptions = {
        name: name,
        snippets: {
            disabledFilterText: 'listing.disabledFilterTooltip'|trans|sw_sanitize
        }
    } %}
{% endif %}

{% block component_filter_multi_select %}
	{% set searchResult = element.data.listing %}

	<div class="filter-multi-select filter-multi-select-{{ name }} filter-panel-item{% if not sidebar %} dropdown{% endif %}" data-{{ pluginSelector }}="true" data-{{ pluginSelector }}-options='{{ dataPluginSelectorOptions|json_encode }}'>

		{% block component_filter_multi_select_toggle %}
			{{ parent() }}
		{% endblock %}

		{% block component_filter_multi_select_dropdown %}
			<div id="{{ filterItemId }}" class="{% if sidebar %}collapse{% endif %}">
				<div class="filter-multi-select-dropdown filter-panel-item-dropdown{% if sidebar %} collapse{% else %} dropdown-menu{% endif %}" id="{{ filterItemId }}-items">
					{% block component_filter_multi_select_list %}
						<ul class="filter-multi-select-list">
							{% for element in elements %}
								{% block component_filter_multi_select_list_item %}
									<li class="filter-multi-select-list-item">
										{% block component_filter_multi_select_list_item_inner %}
											{% sw_include '@Storefront/storefront/component/listing/filter/filter-multi-select-list-item.html.twig' %}
										{% endblock %}
									</li>
								{% endblock %}
							{% endfor %}
						</ul>
					{% endblock %}
				</div>
				{# {% if sidebar %}
								                    {% if elements|length > 5 %}
								                        <btn
								                                class="filter-panel-item-toggle bottom-toggle mt-2 toggle-borderless"
								                                aria-expanded="false"
								                                data-toggle="collapse"
								                                data-target="#{{ filterItemId }}-items"
								                        >
								                            {% sw_icon 'arrow-medium-down' style {
								                                'pack': 'solid', 'size': 'xs', 'class': 'filter-panel-item-toggle'
								                            } %}
								                            <span class="toggle-text item-show-more">Toon meers</span>
								                            <span class="toggle-text item-show-less">Toon minders</span>
								                        </btn>
								                    {% endif %}
								                {% endif %} #}
			</div>
		{% endblock %}
	</div>
{% endblock %}
