{% sw_extends '@parent/storefront/component/buy-widget/buy-widget.html.twig' %}

{# Add delivery-information to line of price #}
{% block buy_widget_price %}
    <div class="product-detail-price-container d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
        <div class="product-detail-price">
            {% sw_include '@VloerkleedCustom/storefront/component/buy-widget/buy-widget-price.html.twig' %}
        </div>
        <div class="product-detail-delivery-information mt-3">
            {% sw_include '@Storefront/storefront/component/delivery-information.html.twig' %}
        </div>
    </div>
    <div class="vk-sample-buttons mb-4 mt-2">
        {% block page_product_detail_vk_sample_buttons %}
            {% sw_include '@OkeonlineSamplebox/storefront/page/product-detail/samplebox-buttons.html.twig' ignore missing %}
        {% endblock %}
    </div>
{% endblock %}

{# Removing H3 class #}
{% block buy_widget_headline_title_container %}
    <h1 class="product-detail-headline-title">
        {% block buy_widget_headline_title %}
            {{ product.translated.name }}
        {% endblock %}
    </h1>
{% endblock %}

{# Clear original delivery-information #}
{% block buy_widget_delivery_informations %}{% endblock %}

{# Clear addition container #}
{% block buy_widget_headline_addition_container %}{% endblock %}

{# Clearing original place for samplebox buttons #}
{% block page_product_detail_sample_buttons %}{% endblock %}