{% sw_extends '@parent/storefront/component/buy-widget/buy-widget-form-customized-products.html.twig' %}

{# Clear contents of share card #}
{% block swag_customized_products_configuration_share_card %}
{% endblock %}