{% sw_extends '@parent/storefront/component/buy-widget/buy-widget-price.html.twig' %}

{% block buy_widget_price_content %}
            {% set isRegulationPrice = price.regulationPrice != null %}
            {% set listPrice = price.listPrice %}

            {% if listPrice.percentage > 0 %}
			<div class="row">
				<div class="col-auto">

					{% block buy_widget_was_price %}

						{% block buy_widget_was_price_badge %}{% endblock %}

						{% block buy_widget_was_price_wrapper %}

						<span class="product-detail-list-price-wrapper">
							<span{% if not (afterListPriceSnippetExists or beforeListPriceSnippetExists) %} class="list-price-price"{% endif %}>{{ listPrice.price|currency }}</span>                        
						</span>

						
						{% endblock %}
					{% endblock %}
				</div>
			</div>
            {% endif %}
			<div class="row no-gutters">
				<div class="col-auto">
					<p class="product-detail-price{% if listPrice.percentage > 0 %} with-list-price{% endif %}">
						{{ price.unitPrice|currency }} {{ product.unit ? '/ ' ~ product.unit.translated.shortCode : '' }}
					</p>
				</div>
				{% if listPrice.percentage > 0 %}
					<div class="col-auto">
						<span class="product-detail-list-price-percentage ml-3">
							<span class="list-price-percentage">- {{ price.listPrice.percentage|split('.')|first }} %</span>
						</span>
					</div>
				{% endif %}
			</div>

            {% if isRegulationPrice %}
                <span class="product-detail-list-price-wrapper">
                    <span class="regulation-price">{{ "general.listPricePreviously"|trans({'%price%': price.regulationPrice.price|currency }) }}</span>
                </span>
            {% endif %}
        {% endblock %}

{# removing star 
{% block buy_widget_price_content %}
	{% set listPrice = price.listPrice %}
	{% set isListPrice = listPrice.percentage > 0 %}
	{% set isRegulationPrice = price.regulationPrice != null %}

	<p class="product-detail-price{% if isListPrice %} with-list-price{% endif %}{% if isRegulationPrice %} with-regulation-price{% endif %}">
		{{ price.unitPrice|currency }} {{ product.unit ? '/ ' ~ product.unit.translated.shortCode : '' }}
	</p>

	{% if isListPrice %}
		{% block buy_widget_was_price %}
			{{ parent() }}
		{% endblock %}
	{% endif %}
	{% if isRegulationPrice %}
		<span class="product-detail-list-price-wrapper">
			<span class="regulation-price">{{ "general.listPricePreviously"|trans({'%price%': price.regulationPrice.price|currency }) }}</span>
		</span>
	{% endif %}
{% endblock %}

{% block buy_widget_was_price_wrapper %}
	<span class="product-detail-list-price-wrapper">
		{% if beforeListPriceSnippetExists %}
			{{"listing.beforeListPrice"|trans|trim}}
		{% endif %}

		<span {% if not (afterListPriceSnippetExists or beforeListPriceSnippetExists) %} class="list-price-price" {% endif %}>{{ listPrice.price|currency }}</span>

		{% if afterListPriceSnippetExists %}
			{{"listing.afterListPrice"|trans|trim}}
		{% endif %}

		<span class="list-price-percentage">{{ "detail.listPricePercentage"|trans({'%price%': listPrice.percentage })|sw_sanitize }}</span>
	</span>
{% endblock %}

{% block buy_widget_price_unit_reference_content %}
	<span class="price-unit-reference-content">
		({{ price.referencePrice.price|currency }}
		/
		{{ price.referencePrice.referenceUnit }}
		{{ price.referencePrice.unitName }})
	</span>
{% endblock %}


{% block buy_widget_price_block_table_body_cell_reference_price %}
	{% if price.referencePrice is not null %}
		<td class="product-block-prices-cell product-block-prices-cell-thin">
			{{ price.referencePrice.price|currency }}
			/
			{{ price.referencePrice.referenceUnit }}
			{{ price.referencePrice.unitName }}
		</td>
	{% endif %}
{% endblock %}

#}