.customizedproducts-version-04 {
  // Stylize all cards (price, share etc.)
  .card {
    border: none;
    padding: 0;
  }

  // Stylize radio checked
  .swag-customized-products-option-type-select-wrapper .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $stylesButtonsPrimaryButtonColorBackground;
    outline: 1px solid $sw-border-color;
    width: 13px !important;
    height: 13px !important;
    margin: 1px;
    border: 2px solid white !important;
  }

  .swag-customized-products__scrollable {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;

    .swag-customized-products__item {
      flex-basis: 90%;
      flex-grow: 1;

        // Create margin for CM inside textbox
        .form-control {
          padding-right: 30px;
        }

        // Place 'CM' inside textbox
        .swag-customized-products-configuration__numberfield {
          width: 30px;
          position: absolute;
          right: 5px;
          vertical-align: baseline;
          height: calc( 41px + 0.8rem );
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &[data-name*=breedte], &[data-name*=lengte] {
          flex-basis: 40%;
        }
    }
  }

  .swag-customized-products .swag-customized-products__card {
    padding: 0;
    margin: 0;
    border: none;

    /* Hide the big-fat-title above the card */
    .swag-customized-products__introduction {
      display: none;
    }

    /* Remove margin from descripton */
    .swag-customized-products-configuration__items, .swag-customized-products-configuration__description {
      margin: unset !important;
      position: unset !important;
      height: auto !important;
    }

    /* Make sure that the title has this margin */
    .card-title {
      border-bottom: none;
      padding-bottom: 0;

      /* Hide title toggle */
      .swag-customized-products__title-link-toggle-icon {
        display: none;
      }
    }

    .disabled {
      background-color: #eee;
      cursor: not-allowed;
      pointer-events: none;
    }

    @media screen and (min-width: 1453px) {
      .swag-customized-products-option-type-select-wrapper {
         //10px = column-gap/cards = 10px
        grid-template-columns: repeat(auto-fit, calc(50% - 10px));
      }
    }

    .swag-customized-products-option-type-select-wrapper {
      row-gap: 15px;
      column-gap: 20px;
      display: grid !important;

      .custom-control {
        height: 122px;
        border-radius: 5px;
        margin-bottom: 0;

        .cs-description-btn {
          background: none !important;
          position: absolute;
          right: 10px;
          top: 10px;
          padding: 0;
          width: 16.5px;
          border: none;
        }

        .custom-control-label {
          padding-left: 180px;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          z-index: 1;

          &::before {
            content: '';
            border: 1px solid $sw-border-color;
            border-radius: 50% !important;
            z-index: 99;
            top: calc(58% - 25px);
            left: 150px;
            height: 15px;
            width: 15px;
          }

          .swag-customized-products-option-type-select-checkboxes-label__property-image {
            margin: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 120px;
            height: 120px;

            .icon-editor-expand {
              display: none;
            }
            .swag-customized-products-option__image {
              border-radius: 5px ;
              z-index: 1;
            }
          }

          .swag-customized-products-option-type-select-checkboxes-label__property {
            flex: unset;
            word-break: normal;
            line-height: 20px;
            font-weight: 600;
          }

          .swag-customized-products-option-type-select-checkboxes-label__surcharge-info {
            flex: unset;
            font-weight: 500;
            text-align: left;
            height: 16px;
            line-height: 16px;

            > span {
              line-height: 16px;
              height: 16px;
              .swag-customized-products-option__price-tag {
                font-weight: normal;
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}