{% sw_extends '@parent/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_aside_usps_wrapper %}
    <div class="vertical-usps">
        <span class="h6">Daarom vloerkleed.nl</span>
        {% block page_checkout_aside_usps_content %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{# Hide sidebar-button #}
{% block page_checkout_confirm_form_submit %}{% endblock %}

{# Add button in summary_list #}
{% block page_checkout_summary_list %}
    {{ parent() }}
     <button id="confirmFormSubmit"
            class="btn btn-primary btn-block btn-lg mt-4"
            form="confirmOrderForm"
        {% if page.cart.errors.blockOrder %}
            disabled
        {% endif %}
            type="submit">
        {{ "oo.checkout.buttons.submitPayment"|trans|sw_sanitize }}  {% sw_icon 'arrow-head-right' style { 'size': 'sm' } %}
    </button>
{% endblock %}

{# Remove terms of service #}
 {% block page_checkout_confirm_tos_control %}
    <div class="custom-control custom-checkbox d-none">
        {# Checkbox for tos to always true #}
        {% block page_checkout_confirm_tos_control_checkbox %}
            <input type="checkbox"
                    class="checkout-confirm-tos-checkbox custom-control-input{% if formViolations.getViolations('/tos') is not empty %} is-invalid{% endif %}"
                    required="required"
                    checked
                    id="tos"
                    form="confirmOrderForm"
                    name="tos"/>
        {% endblock %}

        {# Remove label #}
        {% block page_checkout_confirm_tos_control_label %}{% endblock %}
    </div>
{% endblock %}