{% extends '@SwagCustomizedProducts/storefront/component/customized-products/option-type/numberfield.html.twig' %}

{% block swag_customized_products_option_type_template_numberfield %}
    {% set inConfigurationExtension = configurationExtension.configuration[option.id] %}

    {% set minValue = props.minValue %}
    {% set maxValue = props.maxValue %}

    {% set validationOptions = {
        translations: {
            numberfield: {
                required: 'customizedProducts.optionTypes.numberfield.errors.required'|trans,
                min: 'customizedProducts.optionTypes.numberfield.errors.min'|trans({'%minValue%': minValue}),
                max: 'customizedProducts.optionTypes.numberfield.errors.max'|trans({'%maxValue%': maxValue})
            }
        }
    } | json_encode %}

    {% block swag_customized_products_option_type_template_numberfield_input %}

        {% if('lengte' in option.displayName|lower) %}
            {% set data_okeonline_form_set_hidden_field_plugin = true %}
            {% set data_okeonline_form_set_hidden_field_plugin_options = {setHiddenFieldName: 'unitCalculationInput[Lengte]'} %}
            {% set isDisabled = false %}
        {% elseif('breedte' in option.displayName|lower) %}
            {% set data_okeonline_form_set_hidden_field_plugin = true %}
            {% set data_okeonline_form_set_hidden_field_plugin_options = {setHiddenFieldName: 'unitCalculationInput[Breedte]'} %}
            {% set inputId = 'swag-customized-products-option-id-' ~ option.id %}
            {% set isDisabled = inputId == 'swag-customized-products-option-id-5b466ddf637941b38154613c149d4b7f' %}
        {% elseif('diameter' in option.displayName|lower) %}
            {% set data_okeonline_form_set_hidden_field_plugin = true %}
            {% set data_okeonline_form_set_hidden_field_plugin_options = {setHiddenFieldName: 'unitCalculationInput[Diameter]'} %}
            {% set isDisabled = false %}
        {% elseif('hoogte' in option.displayName|lower) %}
            {% set data_okeonline_form_set_hidden_field_plugin = true %}
            {% set data_okeonline_form_set_hidden_field_plugin_options = {setHiddenFieldName: 'unitCalculationInput[Diameter]'} %}
            {% set isDisabled = false %}
        {% else %}
            {% set data_okeonline_form_set_hidden_field_plugin = false %}
            {% set data_okeonline_form_set_hidden_field_plugin_options = {} %}
            {% set isDisabled = false %}
        {% endif %}
        {% if data_okeonline_form_set_hidden_field_plugin %}
            <span class="swag-customized-products-configuration__numberfield">cm</span>
        {% endif %}
        <input type="number"
               class="form-control swag-customized-products-form-control number-field {% if isDisabled %}disabled{% endif %}"
               data-swag-customized-products-field-validation="true"
               data-swag-customized-products-field-validation-options="{{ validationOptions }}"
               {% if(data_okeonline_form_set_hidden_field_plugin) %}
                   data-okeonline-form-set-hidden-field-plugin="true"
                   data-okeonline-form-set-hidden-field-plugin-options="{{ data_okeonline_form_set_hidden_field_plugin_options|json_encode }}"
               {% endif %}
               id="swag-customized-products-option-id-{{ option.id }}"
               name="{{ constant('Swag\\CustomizedProducts\\Storefront\\Controller\\CustomizedProductsCartController::CUSTOMIZED_PRODUCTS_TEMPLATE_REQUEST_PARAMETER') }}[options][{{ option.id }}][value]"
               min="{{ props.minValue }}"
               max="{{ props.maxValue }}"
               step="{{ props.interval }}"
            {% if inConfigurationExtension %}
                value="{{ inConfigurationExtension.value }}"
            {% else %}
                value="{{ props.defaultValue }}"
            {% endif %}
            {% if option.required %}
                required
            {% else %}
                placeholder="{{ "customizedProducts.optionTypes.selectNoValueText"|trans }}"
            {% endif %}>
    {% endblock %}

    {% block swag_customized_products_option_type_template_numberfield_error %}
        <span class="customized-products-error-subtitle"></span>
    {% endblock %}
{% endblock %}