{% sw_extends '@SwagCustomizedProducts/storefront/component/customized-products/option-type/option.html.twig' %}

{% block swag_customized_products_option_type_template_option %}

    {% set visibilityExtension = option.getExtension('visibility') %}

    {% set optionUnitType = visibilityExtension.getUnitType() | default('none') %}
    {% set productUnitInformation = product.extensions.unitInformation %}

    {% set predefinedUnitOnProduct = productUnitInformation.tryToFindValueOfProperty(optionUnitType) | default(false) %}

    {% set diameter = false %}

    {% if(visibilityExtension is empty) %}
        {% if diameter %}
            {% sw_include "@OkeonlineCustomizedProductsUnits2/storefront/component/customized-products/option-type/hiddenfield.html.twig" ignore missing with {
                'template': customizedProductsTemplate,
                'option': option,
                'value': value
            } %}
        {% else %}
        {{ parent() }}
        {% endif %}
    {% elseif(visibilityExtension.getHideWhenUnitTypeIsAvailable() is same as(false)) %}
        {{ parent() }}
    {% elseif(visibilityExtension.getHideWhenUnitTypeIsAvailable() is same as(true) and predefinedUnitOnProduct is same as (false)) %}
        {{ parent() }}
    {% else %}
        <!-- template option {{ option.getDisplayName() }} hidden: Product has Unit information already available -->

        {% set value = predefinedUnitOnProduct %}

        {% sw_include "@OkeonlineCustomizedProductsUnits2/storefront/component/customized-products/option-type/hiddenfield.html.twig" ignore missing with {
            'template': customizedProductsTemplate,
            'option': option,
            'value': value
        } %}
    {% endif %}

{% endblock %}