// General margin for h1's
h1 {
	margin-bottom: 0.6em;
}

// Highlight selected item in productlisting
.oo-pbs-items *[class*="selected-si"] {
    border: 3px solid #1b2025 !important;
}

// Showing all items in sidebar
.filter-multi-select-list-item {
	display: flex !important;
}

// Special class for removing padding from sidebar on mobile
body:not(.modal-open) {
	@include media-breakpoint-down(sm) {
		.no-mobile-sidebar-padding {
			.cms-section-sidebar-sidebar-content {
				padding: 0 !important;

				// 100vw + no padding = square!
				.gallery-slider-item {
					height: 100vw !important;
				}

				// Remove margin from zoom modal to make sure whole image is shown
				.js-gallery-zoom-modal-container {
					margin: 0 !important;
				}

				// .cms-block-container-row > div.col-12 {
				//   padding: 0 !important;
				// }
			}
		}
	}
}

// Fixing iphone bug with image not full size
@include media-breakpoint-down(sm) {
	body.modal-open .gallery-slider-image {
		min-width: 100vw;
		width: 100vw;
	}
}

// Arrow-right and arrow-left in slick slider need to be black.
.slick-slider .fa {
	color: #1b2025;
}

// Uniform height for inputs and buttons but ignore buttons if outside checkout/cart
.is-act-cartpage .btn:not(.header-actions-btn),
.is-act-checkoutregisterpage .btn:not(.header-actions-btn),
.is-act-confirmpage .btn:not(.header-actions-btn),
.is-act-finishpage .btn:not(.header-actions-btn),
input:not([type='radio']):not([type='checkbox']),
select {
	height: 50px !important;
	padding: 5px 25px !important;
}

@include media-breakpoint-down(sm) {
	// add margin to searchfilter
	.cms-element-product-listing-actions {
		padding: 20px !important;
	}
}
@include media-breakpoint-down(md) {
	// remove margins for mobile breadcrumb
	.breadcrumb {
		padding-top: 0 !important;
	}
}

.is-ctl-checkout,
.is-ctl-register {
	overflow-x: hidden;
}

// custom styling for FAQ
.cms-element-oo-faq {
	.panel-question-wrapper {
		border: 1px solid #f5f5f5;
		border-radius: 5px;
		margin-bottom: 5px;
		padding: 15px 20px;

		.panel-heading {
			padding: 0 !important;
			position: relative;

			.panel-title a {
				color: black !important;
			}

			&::after {
				content: '\f107';
				padding-top: 3px;
				position: absolute;
				font-family: 'Font Awesome 5 Pro';
				font-weight: 400;
				right: 0;
				top: 2px;
				display: block;
				transition-duration: 0.5s;
				transition-property: transform;
				transform: rotate(-180deg);
			}

			&.collapsed::after {
				transform: rotate(0deg);
			}
		}

		.panel-body {
			padding: 10px 0 0 0 !important;
		}
	}
}

// Custom header for service-pages of vloerkleed
.vh-bg-header {
	background: linear-gradient(
		180deg,
		rgba(229, 226, 221, 1) 0%,
		rgba(229, 226, 221, 1) 55%,
		rgba(255, 255, 255, 1) 55%,
		rgba(255, 255, 255, 1) 100%
	);
	img.cms-image {
		border-radius: 5px;
	}
}

// Styling for category-box
.category-box-rounded-vertical {
	border-radius: 5px !important;

	.category-box-link {
		img {
			border-radius: 50% !important;
			width: 55px !important;
			height: 55px !important;
			border-radius: 5px !important;
		}
		.title {
			margin: 0 !important;
		}
	}
}

// Styling for category-box containing service-category
.vk-service-category-wrapper {
	.category-box-rounded-vertical {
		border-radius: 5px !important;

		.category-box-link {
			.title {
				font-size: 22px !important;
				&:after {
					display: none;
				}
			}
			.text {
				margin: 11px !important;
				gap: 17px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}

			.icon {
				display: none;
			}
		}
	}
}

// Custom category menu
.oo-category-children-menu {
	border-right: 1px solid #e5e2dd;

	// Space betweeen items and padding from left (for icon)
	.child-link-wrapper {
		margin: 15px 0;

		a {
			color: black;
		}

		&::before {
			content: '\f105';
			margin-right: 22px;
			font-family: 'Font Awesome 5 Pro';
			font-weight: 400;
		}
	}
}

.usp-overflow-hidden .usp-list-horizontal {
	overflow: hidden;
}

// Fix modal
html:not(.no-scroll) {
	//offcanvas adds 'no-scroll', dont do this when offcanvas is open.
	.modal-backdrop {
		z-index: 749;
	}
	.z-dominant-sidebar .cms-section-sidebar-sidebar-content {
		z-index: 750;
	}
}

// Make sure that wrapper of flyout has enough z-index to be visible
body:not(.modal-open) header.version-03 .header-bottom {
	z-index: 999 !important;
}

// When modal is open: drop navigation to background
.modal-open header.version-03 .header-bottom,
.modal-open header.version-04 .header-content {
	z-index: 1;
}

// Fix notifications
@media (min-width: 1800px) {
	// Matching header v4
	.flashbags {
		.alert:first-of-type {
			margin-top: 45px !important;
		}
	}
}
@include media-breakpoint-down(lg) {
	.flashbags {
		.alert:first-of-type {
			margin-top: 10px !important;
		}
	}
}
.flashbags {
	max-width: none !important;
	.alert:first-of-type {
		margin-top: 95px;
	}
}

//Fix padding inside productcard
@include media-breakpoint-down(md) {
	.cms-listing-col {
		border: none !important;
		padding: 12px !important;
	}

	.oo-pbs-item img {
		height: 35px !important;
		width: 35px !important;
	}

	.oo-pbs-overflow {
		height: 35px !important;
		width: 35px !important;
	}
}

// Chevrons for expandable menu items
.main-navigation-link {
	&[data-flyout-menu-trigger] {
		.main-navigation-link-text::after {
			font-family: 'Font Awesome 5 Pro';
			content: '\f107';
			font-size: 13px;
		}
	}
}
