.is-ctl-product {
	// make image grayscale when disabled
	.oo-custom-products-option-image-radio.disabled img {
		filter: grayscale(100%);
		opacity: 0.5;
	}

	.js-gallery-zoom-modal-container {
		margin: 0 !important;
	}

	.product-detail-headline-title {
		max-width: 80%;
	}

	// Fix alignment of description (cm / mm) on length/width fields
	.swag-customized-products-configuration__description {
		top: 5px;
	}

	.btn-buy {
		height: 50px;
		background-color: #00ac42;
		border-color: #00ac42;
		color: #ffffff;

		&:hover {
			background-color: #19b454;
			border-color: #19b454;
			color: #ffffff;
		}

		&:disabled {
			background-color: #a0a0a0;
			border-color: #a0a0a0;
			color: #f2f2f2;
			cursor: not-allowed;
		}
	}

	//hide background from theme
	.container-main {
		background: none !important;
	}
	.base-slider {
		border: 1px solid #f5f5f5;
		border-radius: 5px;
	}

	.product-detail-delivery-information {
		margin-bottom: 0;
	}

	// Moving custom status-indicator
	span.delivery-status-indicator {
		margin-top: 6px;
		margin-right: 9px;
	}

	.product-detail-properties-container > div {
		min-width: 100%;

		.product-detail-properties-table tr {
			background-color: #fff;
			border-top: 1px solid $sw-border-color;

			&:last-of-type {
				border-bottom: 1px solid $sw-border-color;
			}
		}
	}

	// Custom styling for variant selector
	.product-variant-selector {
		border-collapse: separate;
		border-spacing: 0px 5px;

		thead {
			display: none;
		}

		.dot {
			height: 15px;
			width: 15px;
			margin-top: 4px;
		}

		.product-detail-configurator-option-row {
			height: 50px;

			&.active {
				background: unset !important;
				td {
					background-color: #f5f5f5;
				}
			}

			td {
				min-height: 36px;
				margin: 0 !important;
				margin-bottom: 0;
				border-width: 1px 0 1px 0;
				padding: 6px !important;
				border-style: solid;
			}

			td:first-of-type {
				border-left: 1px solid #e5e2dd;
				border-radius: 5px 0 0 5px;
				padding-left: 15px !important;
			}

			td:last-of-type {
				border-right: 1px solid #e5e2dd;
				border-radius: 0 5px 5px 0;
				padding-right: 15px !important;
				display: table-cell !important;
				width: 40px;
			}
		}
	}
}


.buybox-version-02 {
	.cms-element-buy-box {
		
		.product-detail-price {
			color: #1b2025!important;

			&.with-list-price {
				color: #1b2025!important;
			}

		}

		.product-detail-price-container {
			// flex-direction: row!important;

			.product-detail-list-price-percentage {
				background-color: #00ac42!important;
				border-color: #00ac42!important;
				color: #ffffff!important;
				font-size: 14px!important;
				border-radius: 3px!important;
				position: relative!important;
				top: auto!important;
				right: auto!important;
				left: auto!important;
			}
		}

		
	}
}

@include media-breakpoint-down(sm) {
	.product-detail-price {
		font-size: 20px;
	}

	.buybox-version-02 {
		.cms-element-buy-box {
			
			.product-detail-price-container {
				
				.product-detail-list-price-percentage {
					font-size: 12px!important;
					padding: 5px!important;
					margin-left: 8px!important;
				}

			}
		}
	}

	.delivery-information {
			
		.delivery-status-texts {
			
			span:last-child {
				font-size: 12px;
			}
		}
	}
}