{% sw_extends '@parent/storefront/base.html.twig' %}

{% block base_body %}
    {{ parent() }}

    {#<!--Start of Zendesk Chat Script-->
        <script type="text/javascript">
            window.$startZopim = () => {
                //Load Zopim if not loaded
                if(typeof(window.$zopim) === "undefined") {
                    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
                        $.src="https://v2.zopim.com/?2kkghZBOcQ6NBt67bVAiNtJDpn2x847e";z.t=+new Date;$.
                            type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
                }

                //Wait and open chat display
                setTimeout(() => $zopim.livechat.window.show(), 1500);
            }
        </script>
    <!--End of Zendesk Chat Script-->#}
{% endblock %}