{% sw_extends '@parent/storefront/layout/meta.html.twig' %}

{% block layout_head_meta_tags %}
    {{ parent() }}
    <meta name="google-site-verification" content="YAdd0KNPwzX0f3algLxHcOq5zVajiK9bYdqYldVRmQM" />

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NRVBJGHL');</script>
<!-- End Google Tag Manager -->

    {% if(activeRoute == 'frontend.checkout.finish.page' and page.order) %}
        <script>
            gtag('event', 'conversion', {
                'send_to': 'AW-10998854075/QzzXCJqNhYAYELvj1Pwo',
                'value': {{ page.order.amountTotal }},
                'currency': 'EUR',
                'transaction_id': '{{ page.order.orderNumber }}'
            });
        </script>
  {% endif %}
{% endblock %}