{% sw_extends '@parent/storefront/page/product-detail/buy-widget-price.html.twig' %}

{# this file have changes, but are not working. Changes from /component/buy-widget/buy-widget-price.html.twig where used #}

{# removing star 
{% block page_product_detail_price_content %}
	{% set listPrice = price.listPrice %}
	{% set isListPrice = listPrice.percentage > 0 %}
	{% set isRegulationPrice = price.regulationPrice != null %}

	<p class="product-detail-price{% if isListPrice %} with-list-price{% endif %}{% if isRegulationPrice %} with-regulation-price{% endif %}">
		{{ price.unitPrice|currency }}
	</p>

	{% if isListPrice %}
		{% block page_product_detail_was_price %}
			{{ parent() }}
		{% endblock %}
	{% endif %}
	{% if isRegulationPrice %}
		<span class="product-detail-list-price-wrapper">
			<span class="regulation-price">{{ "general.listPricePreviously"|trans({'%price%': price.regulationPrice.price|currency }) }}</span>
		</span>
	{% endif %}
{% endblock %}

{% block page_product_detail_was_price_wrapper %}
	<span class="product-detail-list-price-wrapper">
		{% if beforeListPriceSnippetExists %}
			{{"listing.beforeListPrice"|trans|trim}}
		{% endif %}

		<span {% if not (afterListPriceSnippetExists or beforeListPriceSnippetExists) %} class="list-price-price" {% endif %}>{{ listPrice.price|currency }}</span>

		{% if afterListPriceSnippetExists %}
			{{"listing.afterListPrice"|trans|trim}}
		{% endif %}

		<span class="list-price-percentage">{{ "detail.listPricePercentage"|trans({'%price%': listPrice.percentage })|sw_sanitize }}</span>
	</span>
{% endblock %}

{% block page_product_detail_price_unit_reference_content %}
	<span class="price-unit-reference-content">
		({{ price.referencePrice.price|currency }}
		/
		{{ price.referencePrice.referenceUnit }}
		{{ price.referencePrice.unitName }})
	</span>
{% endblock %}

{% block page_product_detail_price_block_table_body_cell_reference_price %}
	{% if price.referencePrice is not null %}
		<td class="product-block-prices-cell product-block-prices-cell-thin">
			{{ price.referencePrice.price|currency }}
			/
			{{ price.referencePrice.referenceUnit }}
			{{ price.referencePrice.unitName }}
		</td>
	{% endif %}
{% endblock %}

#}