{% sw_extends '@parent/storefront/page/product-detail/samplebox-buttons.html.twig' %}

{# Prepend text #}
{% block samplebox_buttons %}
    {% if product.customFields.oo_samplebox_additable %}{# Remove when unavailable #}
        <div class="mt-4 d-flex flex-column flex-xl-row border px-4 rounded">
            <div class="d-flex flex-column align-items-left justify-content-center mr-4 mt-4 mb-4 flex-grow-1">
                <span class="h6">{{ 'vloerkleedcustom.samplebox.buyboxPrefix'|trans }}</span>
                <span>{{ 'vloerkleedcustom.samplebox.subtitle'|trans }}</span>
            </div>
            <div class="d-flex flex-column justify-content-center">
                {{ parent() }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{# Making 'add to samplebox' button orange #}
{% block samplebox_buttons_content_addremove %}
    <a onLoad="(function(){window.oct=null;})();return false;"
        onClick="(function(){clearTimeout(window.oct),window.oct=window.setTimeout(function(){window.location.href='{{ path('frontend.oo_samplebox.delete', { productId: product.id }) }}'},300);return false;})();return false;"
        class="btn btn-danger btn-delete-from-samplebox flex-grow-1 mr-2 mb-2 mt-4 mb-4" style="flex-basis: 0; min-width: 237px; display: none;" rel="nofollow" href="#">{{ 'oo-samplebox.productPageButtons.removeFromSamplebox'|trans }}</a>

    <a onLoad="(function(){window.oct=null;})();return false;"
        onClick="(function(){clearTimeout(window.oct),window.oct=window.setTimeout(function(){window.location.href='{{ path('frontend.oo_samplebox.add', { productId: product.id }) }}'},300);return false;})();return false;"
        class="btn btn-primary btn-add-to-samplebox flex-grow-1 mr-2 mb-2 mt-4 mb-4" style="flex-basis: 0; min-width: 237px; display: none;" rel="nofollow" href="#">{{ 'oo-samplebox.productPageButtons.addToSamplebox'|trans }}</a>
{% endblock %}

{# Remove 'view' button #}
{% block samplebox_buttons_content_show %}{% endblock %}