{% sw_extends '@parent/storefront/page/product-detail/sibling-selector.html.twig' %}
{% block page_product_detail_sibling_selector_wrapper %}
	<div data-oo-vk-slick-carousel="true" class="vk-custom-related-products-carousel">
		{% block page_product_detail_sibling_selector %}
			{{ parent() }}
		{% endblock %}
	</div>
{% endblock %}

{# Hide when empty #}
{% block page_product_detail_sibling_selector_container %}
	{% if page.extensions.siblings.elements|length > 0 %}
		{{ parent() }}
	{% endif %}
{% endblock %}