{% sw_extends '@parent/storefront/layout/cookie/cookie-permission.html.twig' %}

{% block layout_cookie_permission_inner %}
	{% set acceptAllCookies = config('core.basicInformation.acceptAllCookies') %}
	<div class="cookie-permission-container" data-cookie-permission="true">
		<div class="container">
			<div class="row align-items-center">
				{% block layout_cookie_permission_inner_content %}
					<div class="col cookie-permission-content">
						{% block layout_cookie_permission_header %}
							<div class="cookie-permission-header">
								<h2 class="cookie-permission-title pb-2">
									{{ "vloerkleedcustom.cookie.title"|trans|sw_sanitize }}
								</h2>
							</div>
						{% endblock %}

						{{ "vloerkleedcustom.cookie.content"|trans({
                            '%url%': path('frontend.cms.page', { id: config('core.basicInformation.privacyPage') })
                        })|raw }}
					</div>
				{% endblock %}

				{% block layout_cookie_permission_inner_button %}
					<div
						class="cookie-permission-buttons w-100 col-auto d-flex justify-content-start {{ paddingEndClass }}-2 ">
						{# Clearing blocks #}
						{% block layout_cookie_permission_inner_button_deny %}
							{{parent()}}
						{% endblock %}
						{% block layout_cookie_permission_inner_button_configuration %}{% endblock %}

						{% if acceptAllCookies %}
							{% block layout_cookie_permission_inner_button_accept_all %}
								{{parent()}}
							{% endblock %}
						{% endif %}
					</div>
				{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
