{% sw_extends '@parent/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_image %}
    {# Duplicated data from price_unit, etc. for making percentage work outside the price_unit blocks #}
    {% set real = product.calculatedPrice %}    
    {% set price = real %}

    {% if price.listPrice.percentage %}
        <div class="product-badges vk-discount-percentage">
            <div class="badge badge-success">- {{ price.listPrice.percentage|split('.')|first }} %</div>
        </div>
    {% endif %}

    <div class="product-image-wrapper flex-grow-0 mb-0">
        {# fallback if display mode is not set #}
        {% set displayMode = displayMode ?: 'standard' %}

        {# set display mode 'cover' for box-image with standard display mode #}
        {% if layout == 'image' and displayMode == 'standard' %}
            {% set displayMode = 'cover' %}
        {% endif %}

        <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
            title="{{ name }}"
            class="product-image-link is-{{ displayMode }}">
            {% if cover.url %}
                {# Get smallest image with a minimum of 400px #}
                {% set smallestImage = cover.thumbnails|filter(thumbnail => thumbnail.width >= 400)|first %}

                {% for thumbnail in cover.thumbnails %}
                    {% if thumbnail.width < smallestImage.width and thumbnail.width >= 400 %}
                        {% set smallestImage = thumbnail %}
                    {% endif %}
                {% endfor %}
                {% set readableWidth = smallestImage.width ~ 'px' %}
               
                {% set attributes = {
                    'class': 'lazyload product-image is-'~displayMode,
                    'data-sizes': "{
                        'default': " ~ readableWidth ~ ",
                    }",
                    'width': readableWidth,
                    'alt': (cover.translated.alt ?: name),
                    'title': (cover.translated.title ?: name)
                } %}

                {% if displayMode == 'cover' or displayMode == 'contain' %}
                    {% set attributes = attributes|merge({ 'data-object-fit': displayMode }) %}
                {% endif %}

                <img data-src="{{ smallestImage.url }}"
                    {% for key, value in attributes %}{% if value != '' %} {{ key }}="{{ value }}"{% endif %}{% endfor %}
                />
            {% else %}
                <div class="product-image-placeholder">
                    {% sw_icon 'placeholder' style {
                        'size': 'fluid'
                    } %}
                </div>
            {% endif %}
        </a>

        {% if config('core.cart.wishlistEnabled') %}
            {% block component_product_box_wishlist_action %}
                {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                    appearance: 'circle',
                    productId: id
                } %}
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}

{% block component_product_box_price_and_action %}
    {% if theme_config('productListingStylesCombinePriceAndAction') %}
        <div class="flex-grow-1 d-flex flex-nowrap"><div class="product-price-info-wrapper col-auto d-flex align-content-end flex-column pr-0 w-75">
    {% endif %}

    {% block component_product_box_price %}
        {{ parent() }}
    {% endblock %}

    {% if theme_config('productListingStylesCombinePriceAndAction') %}
        </div><div class="col-auto ml-auto align-self-end pl-0 pr-0">
    {% endif %}

    {% block component_product_box_action %}
       {{ parent() }}
    {% endblock %}

    {% if theme_config('productListingStylesCombinePriceAndAction') %}
        </div></div>
    {% endif %}
{% endblock %}
