{% sw_extends '@parent/storefront/component/product/card/sibling-slider.html.twig' %}

{% block product_box_sibling_selector_image_content %}
    {# Get smallest image with a minimum of 50px #}
    {% if sibling.cover.media.thumbnails|length == 0 %}
        {% set smallestImage = sibling.cover.media %}
    {% else %}
        {% set smallestImage = sibling.cover.media.thumbnails|filter(thumbnail => thumbnail.width >= 400)|first %}
    {% endif %}
    
    {% for thumbnail in sibling.cover.media.thumbnails %}
        {% if thumbnail.width < smallestImage.width and thumbnail.width >= 400 %}
            {% set smallestImage = thumbnail %}
        {% endif %}
    {% endfor %}
    {% set readableWidth = smallestImage.width ~ 'px' %}
    
    {% set attributes = {
        'class': 'lazyload product-image  is-standard ' ~ (sibling.id == product.id ? "selected-si-"~product.id : ""),
        'data-sizes': "{
            'default': " ~ readableWidth ~ ",
        }",
        'width': readableWidth,
        'alt': sibling.translated.name,
        'title': sibling.translated.name
    } %}
    <img data-src="{{ smallestImage.url }}"
        {% for key, value in attributes %}{% if value != '' %} {{ key }}="{{ value }}"{% endif %}{% endfor %}
    />
{% endblock %}