{% sw_extends '@parent/storefront/element/cms-element-oo-description.html.twig' %}

{# Hide when empty #}
{% block page_product_detail_description_container %}
    {% if page.product.translated.description|length > 0 %}
        {{ parent() }}
    {% endif %}
{% endblock %}