{% sw_extends '@parent/storefront/element/cms-element-oo-faq.html.twig' %}

{% block element_oo_faq_header %}{% endblock %}
{% block element_oo_faq_content %}
    {% for id in configured_faq_categories %}
        <h4 id="{{ faq_categories[id].getName()|url_encode }}" class="mt-4 mb-4">{{ faq_categories[id].getName() }}</h3>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                {% for question in faq_categories[id].getQuestions() %}
                    <div class="panel-question-wrapper">
                        <div class="panel-heading collapsed" role="tab" id="heading-{{ question.getId() }}" data-toggle="collapse" data-target="#collapse-{{ question.getId() }}">
                            <h5 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ question.getId() }}" aria-expanded="true" aria-controls="collapse-{{ question.getId() }}" class="collapsed">
                                    {{ question.getQuestion() }}
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-{{ question.getId() }}" class="collapse {{ configured_expanded }}" role="tabpanel" aria-labelledby="heading-{{ question.getId() }}">
                            <div class="panel-body">
                                {{ question.getAnswer() | raw }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}