{% sw_extends '@parent/storefront/element/cms-element-oo-elements-samplebox-list.html.twig' %}

{% block cms_samplebox_title_wrapper %}
    {{ parent() }}
    <div class="mt-4 mb-4">
        {{ 'vloerkleedcustom.samplebox.subtitle'|trans }}
    </div>
{% endblock %}