.vk-button-wrapper .row {
  padding-left: 20px;
  gap: 13px;

  > div {
    padding: 0;
    width: auto;
    max-width: unset;
    flex-basis: 0;

    .oo-general-button {
      min-width: 205px;
    }
  }
}
/* Make sure that this stuff wraps! */
@include media-breakpoint-down(md) {
  .vk-button-wrapper .row > div .oo-general-button {
    min-width: calc(100vw - 60px);
  }
}