.cookie-permission-container {
	z-index: 999;
	height: 369px;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	width: 619px;
	margin-left: auto;
	margin-right: auto;
	transform-style: preserve-3d;
	border-radius: 5px;
	max-width: 95vw;
	text-align: left;
	.container {
		padding-left: 45px;
		.row {
			display: flex !important;
			flex-direction: column;
			justify-content: space-between;
			min-height: 322px;
			.cookie-permission-content {
				padding-top: 30px;
				font-size: 16px;
			}
			.cookie-permission-buttons {
				gap: 10px;
			}
		}
	}
	&::before {
		content: '';
		top: -50vh;
		bottom: -50vh;
		left: -50vw;
		right: -50vw;
		background-color: #0000007d;
		position: absolute;
		transform: translateZ(-1px);
		transform: translateZ(-1px);
	}
	.cookie-permission-button .btn {
		background-color: #e5e2dd;
		border-color: #e5e2dd !important;
		color: black;
	}
	.js-cookie-accept-all-button .btn {
		background-color: #00ac42 !important;
		border-color: #00ac42 !important;
	}
}

@include media-breakpoint-down(sm) {
	.cookie-permission-container {
		height: 449px;
		padding: 13px !important;

		.container {
			padding-left: unset;
			.row {
				display: flex !important;
				flex-direction: column;
				justify-content: space-between;
				min-height: 420px;
				.cookie-permission-content {
					padding-top: 9px;
				}
			}
		}
	}
}
