header.flyout-version-03 {
    // Align with header 
    margin: 0 !important;
}

header.version-03 {

    .header-account-icon, .header-cart-icon {
        .icon-fal, .icon-fas {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            height: 100%;
        }
    }

    // Fix logo width
    .header-logo-col {
        width: 260px;
    }

    // Styling service items in centermenu
    .header-center-categories {
        display: flex;
        justify-content: space-around;
        min-width: 250px;
        // margin-right: 25px;

        > div {
            gap: 25px;
        }

        .header-extra-link-btn {
            margin: 0 !important;
        }
    }

    // Make all fonts normal except for x(2) menu items.
    .main-navigation-link:nth-child(n+3) {
        font-weight: normal !important;
    }

    // Margin for icons in menu-center
    .header-action,
    div[data-oo-samplebox-data] {
        margin-left: 10px;
        margin-top: 4px;

        // Make sure that texts are aligned vertically
        .header-samples {
            margin-top: 0 !important;

            .icon.icon-xl {
                margin-top: 10px;
            }
        }
    }

    // Font weight for extra link buttons (service in headertop)
    .header-extra-link-btn {
        font-weight: 500 !important;
    }

    .header-bottom::before {
        position: absolute;
        content: '';
        border-bottom: 1px solid #E5E2DD;
        left: 0;
        right: 0;
        top: 2px;
        max-width: 1660px;
        margin-left: auto;
        margin-right: auto;
    }
}

header.version-04 .main-navigation-link .main-navigation-link-text {
    border-bottom: none !important;
    color: #1B2025 !important;
}