{% sw_extends '@parent/storefront/page/checkout/cart/index.html.twig' %}

{# Add title to usp block #}
{% block page_checkout_aside_usps_wrapper %}
    <div class="vertical-usps">
        <span class="h6">Daarom vloerkleed.nl</span>
        {% block page_checkout_aside_usps_content %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}