.customizedproducts-version-04 {
    .swag-customized-products .swag-customized-products__card {
        .swag-customized-products-option-type-select-wrapper {
            .custom-control {
                // max-width: unset !important;

                // &:last-of-type {

                // }
            }
        }
    }
}