.oo-custom-related-products {
    .caption {
        display: none;
    }

    .oo-custom-related-products-carousel-item {
        height: 95px;
        width: 95px !important;

        .image { 
            border: 1px solid #E5E2DD;
            border-radius: 5px;
        }

        img { 
            object-fit: cover;
            height: 93px;
            width: 93px;
            border-radius: 5px;
        }
    }
}