/* Samplebox custom css */
.sample-products {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

  /* Wrapper of product */
  > .row {
    max-width: 50% !important;
    margin: 0;
    padding: 0;

    .sample-product {
      /* Fiddling with the bootstrap stuff :/ */
      > .row {
        flex-wrap: nowrap;
        > .col-2, > .col-8 {
          display: flex;
          align-items: center;
        }
        > .col-2 {
          padding: 0;
          &:first-of-type {
            min-width: 100px;
          }
        }
        > .col-8 {
          max-width: 200px !important;
        }
      }

      .product-image {
        display: block;
        max-width: 100px;
        max-height: 100px;
        border-radius: 5px;
        border: #f5f5f5;
      }

      .sample-product-description a {
        color: black;
        font-weight: 600;
      }
    }
  }
}