.product-price-info, .product-price {
  margin-top: 0 !important;
}

.product-detail-sample-buttons a {
  min-width: 155px !important;
}

.product-box.box-version-02 {

  .product-price {
    font-family: inherit!important;

    .list-price {
      font-family: inherit!important;
    }
  }

  .product-badges {
    right: auto!important;
    left: 20px!important;
    gap: 10px;

    .badge {
      margin: 0!important;
    }
  }
  
  .product-badges.vk-discount-percentage { 
    left: auto!important;
    right: 20px!important;
  }

}


@include media-breakpoint-down(sm) {

  .product-box.box-version-02 {

    .product-badges {
      padding: 0!important;
  
      .badge {
        font-size: 12px!important;
        padding: 4px!important;
        height: auto!important;
        line-height: unset!important;
      }
   
    }
  
  }
}

