{% if value.relativeSurcharge %}
	{% set productPrice = page.product.calculatedPrices.first.unitPrice %}
	{% if productPrice is null %}
		{% set productPrice = page.product.calculatedPrice.unitPrice %}
	{% endif %}

	{% if context.getTaxState() != 'gross' %}
		{% set productPrice = productPrice - page.product.calculatedTaxes.first.tax %}
	{% endif %}

	{% set valueSurcharge = (value.percentageSurcharge/100) * productPrice %}
{% else %}
	{% set valueSurcharge = value.getCalculatedPrice().totalPrice %}
{% endif %}

{% if valueSurcharge is not null and valueSurcharge != 0 %}
	{% set valueSurchargeInfo = valueSurcharge|currency %}
{% endif %}

<div class="swag-customized-products-option__price-tag">
	{% if valueSurchargeInfo is not null %}
		+
		{{ valueSurchargeInfo }}
	{% else %}
		Standaard
	{% endif %}
</div>
