{% extends '@SwagCustomizedProducts/storefront/component/customized-products/_include/title.html.twig' %}

{% block swag_customized_products_option_type_template_label %}
    <div class="card-title swag-customized-products__title-link-container">
        <span class="swag-customized-products__title-link">
            {% block swag_customized_products_option_type_template_label_content_text %}
                <label class=" swag-customized-products-option__title h6">
                    {{ option.translated.displayName }}:
                </label>
            {% endblock %}

            {% block swag_customized_products_option_type_template_label_content_required_addition %}
            {% endblock %}


            {% block swag_customized_products_option_type_template_label_toggle_icon %}
            {% endblock %}
        </span>
    </div>
{% endblock %}