{% sw_extends '@parent/documents/invoice.html.twig' %}

 {% block document_head %}
    {{ parent() }}

    <style type="text/css">
        .line-item .label-wrapper {
            display: inline-block;
            position: absolute;
            width: 6px;
            height: 20px;
            top: 0;
            border-left:  none !important;
        }

        /* Footer */
        footer {
            bottom: 50px;
            padding: 0;
        }
        footer ul:first-of-type  {
            margin-left: -40px;
            list-style-type: none;
        }
    </style>
{% endblock %}

{# Add company to address #}
{% block document_sender_address %}
    <table>
        <tr>
            <td class="bold">{{ config.companyName }}</td>
        </tr>
    </table>
    {{ parent() }}
{% endblock %}

{# Only show up to lvl 2: level 2's need to show their children inside the label #}
{% block position %}
    {% if level < 2 %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{# Make line-item bold #}
{% block document_line_item_table_shipping_label %}
    <td class="line-item-breakable"><strong>{{ order.deliveries.first.shippingMethod.name }}</strong></td>
{% endblock %}

{# Add children to label #}
{% block document_line_item_table_row_label %}
    {% if level == 0 %}
        <td class="line-item-breakable">
            <span class="line-item-label">
                <strong>{{ lineItem.label }}</strong>
            </span>
        </td>
    {% else %}
        <td class="line-item-breakable">
            <span class="line-item-label">
                {# If there is a unit: show its value #}
                {{ lineItem.label }}: {{ lineItem.payload.unitDefinition.unitType is not null ? lineItem.payload.value|default('') : '' }}
                
                {% for child in lineItem.children %}
                    {{child.label|default('')}} 
                {% endfor %}
            </span>
        </td>
    {% endif %}
{% endblock %}

{% block document_line_item_table_rows %}
    {# Calculate child prices #}
    {% set totUnitPrice = 0 %}
    {% for child in lineItem.children %}
        {% set totUnitPrice = totUnitPrice + child.unitPrice %}
    {% endfor %}

    {% set totPrice = 0 %}
    {% for child in lineItem.children %}
        {% set totPrice = totPrice + child.totalPrice %}
    {% endfor %}

    {{ parent() }}
{% endblock %}

{# Special combined price of all children (note: visible tax-rate will remain the same) #}
{% block document_line_item_row_table_unit_price %}
    {% if level == 0 %}
        {{ parent() }}
    {% else %}
        <td class="align-right">
            {{ totUnitPrice > 0 ? totUnitPrice|currency(currencyIsoCode) : '' }}
        </td>
    {% endif %}
{% endblock %}
{% block document_line_item_table_row_total_price %}
    {% if level == 0 %}
        {{ parent() }}
    {% else %}
        <td class="align-right">
            {{ totPrice > 0 ? totPrice|currency(currencyIsoCode) : '' }}
        </td>
    {% endif %}
{% endblock %}
{% block document_line_item_table_row_tax_rate %}
    {% if level == 0 || totUnitPrice > 0 && totPrice > 0 %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{# Hide metadata for customized product options #}
{% block document_line_item_table_row_product_number %}
    {% if level == 0 %}
        {{ parent() }}
    {% else %}
        <td></td>
    {% endif %}
{% endblock %}
{% block document_line_item_table_row_quantity %}
    {% if level == 0 || totUnitPrice > 0 && totPrice > 0 %}
        {{ parent() }}
    {% else %}
        <td></td>
    {% endif %}
{% endblock %}