{% sw_extends '@parent/storefront/page/checkout/checkout-custom-footer.html.twig' %}


{% block customer_service_content %}
	<div class="title">{{ "oo.customerService.question"|trans|striptags }}</div>
	<p>{{ "oo.customerService.serviceItems.phone.descriptiveTitle"|trans|striptags }}</p>
	<a href="{{ "oo.customerService.link"|trans|striptags }}" class="btn btn-light link-color">{{ "oo.customerService.title"|trans|striptags }}</a>
{% endblock %}
