{# NOT IN USE YET, might be useful for changeing order of product-row inside shoppingcart #}

{# {% sw_extends '@parent/storefront/page/checkout/checkout-item.html.twig' %}

{% block page_checkout_item_container %}
	<div class="cart-item cart-item-{{ lineItem.type }}{% if isDiscount %} is-discount{% endif %}{{ cartItemClasses }}">
		<div class="row cart-item-row">
			{% block page_checkout_item_info %}
                {{ parent() }}
			{% endblock %}

			{% block page_checkout_item_quantity %}
                {{ parent() }}
			{% endblock %}

			{% block page_checkout_item_unit_price %}
              {{ parent() }}
            {% endblock %}

            {% block page_checkout_item_remove %}
                {{ parent() }}
			{% endblock %}

			{% block page_checkout_item_total_price %}
               {{ parent() }}
            {% endblock %}

			{% block page_checkout_item_children_template %}
				{% if isNested %}
					{% block page_checkout_item_children %}
						{% sw_include childrenTemplate %}
					{% endblock %}
				{% endif %}
			{% endblock %}
		</div>
	</div>
{% endblock %} #}
