.offcanvas {
  .filter-panel {
    /* Offcanvas has secondary button instead of primary button */
    // .filter-panel-bottom-button {
    //   background: #E5E2DD !important;
    //   border: 1px solid #E5E2DD !important;
    //   color: #1B2025 !important;

    //   &:hover {
    //     background: #E5E2DD !important;
    //     border: 1px solid #E5E2DD !important;
    //     color: #1B2025 !important;
    //   }
    // }
  }
}