{% sw_extends '@parent/storefront/layout/header/categories-list.html.twig' %}

{% block layout_header_categories_list %}
    <div class="mr-lg-4 d-flex flex-row justify-content-between w-100">
        {{parent()}}
    </div>
{% endblock %}