{% sw_extends '@parent/storefront/layout/header/search-expanded.html.twig' %}

{% block layout_header_search %}
	<div class="flex-grow-1 ml-lg-4 mr-lg-2">
		{% block layout_header_search_content_wrapper %}
		    {{ parent() }}
		{% endblock %}
	</div>
{% endblock %}