{% sw_extends '@parent/storefront/component/delivery-information.html.twig' %}

{% block component_delivery_information %}
    {# @var product \Shopware\Core\Content\Product\ProductEntity #}
    {% if page is defined and page.product is defined %}
        {% set product = page.product %}
    {% endif %}

    <div class="product-delivery-information">
        {% if product.shippingFree %}
            {% block component_delivery_information_shipping_free %}
                <div class="delivery-information delivery-shipping-free d-flex flex-row">
                    <span class="delivery-status-indicator bg-info"></span>
                    <div class="delivery-status-texts d-flex flex-column">
                        {{ "general.deliveryShippingFree"|trans|sw_sanitize }}
                    </div>
                </div>
            {% endblock %}
        {% endif %}

        {% if not product.active %}
            {% block component_delivery_information_not_available %}
                <link itemprop="availability"
                      href="http://schema.org/LimitedAvailability"/>
                <div class="delivery-information delivery-not-available d-flex flex-row">
                    <span class="delivery-status-indicator bg-danger"></span>
                    <div class="delivery-status-texts d-flex flex-column">
                        {{ "general.deliveryNotAvailable"|trans|sw_sanitize }}
                    </div>
                </div>
            {% endblock %}
        {% elseif product.releaseDate and product.releaseDate|date('U') > "now"|date('U') %}
            {% block component_delivery_information_pre_order %}
                <link itemprop="availability"
                      href="http://schema.org/PreOrder"/>
                <div class="delivery-information delivery-preorder d-flex flex-row">
                    <span class="delivery-status-indicator bg-warning"></span>
                    <div class="delivery-status-texts d-flex flex-column">
                      {{ "general.deliveryShipping"|trans|sw_sanitize }} {{ product.releaseDate|format_date('long', locale=app.request.locale) }}
                    </div>
                </div>
            {% endblock %}
        {% elseif product.availableStock >= product.minPurchase and product.deliveryTime %}
            {% block component_delivery_information_available %}
                <link itemprop="availability" href="http://schema.org/InStock"/>
                <div class="delivery-information delivery-available d-flex flex-row">
                    <span class="delivery-status-indicator bg-success"></span>
                    <div class="delivery-status-texts d-flex flex-column">
                        {{ "detail.deliveryTimeAvailable"|trans({
                        '%name%': product.deliveryTime.translation('name')
                    })|sw_sanitize }}
                    </div>
                </div>
            {% endblock %}
        {% elseif product.isCloseout and product.availableStock < product.minPurchase %}
            {% block component_delivery_information_soldout %}
                <link itemprop="availability" href="http://schema.org/LimitedAvailability"/>
                <div class="delivery-information delivery-soldout d-flex flex-row">
                    <span class="delivery-status-indicator bg-danger"></span>
                    <div class="delivery-status-texts d-flex flex-column">
                       {{ "detail.soldOut"|trans|sw_sanitize }}
                    </div>
                </div>
            {% endblock %}
        {% elseif product.availableStock < product.minPurchase and product.deliveryTime and product.restockTime %}
            {% block component_delivery_information_restock %}
                <link itemprop="availability" href="http://schema.org/LimitedAvailability"/>
                <div class="delivery-information delivery-restock d-flex flex-row">
                    <span class="delivery-status-indicator bg-warning"></span>
                    <div class="delivery-status-texts d-flex flex-column">
                        {{ "detail.deliveryTimeRestock"|trans({
                            '%count%': product.restockTime,
                            '%restockTime%': product.restockTime,
                            '%name%': product.deliveryTime.translation('name')
                        })|sw_sanitize }}
                    </div>
                </div>
            {% endblock %}
        {% else %}
            {% block component_delivery_information_default %}{% endblock %}
        {% endif %}
    </div>
{% endblock %}
