{% sw_extends '@parent/storefront/component/pagination.html.twig' %}

{% block component_pagination_nav %}
    {% set currentPage = ((criteria.offset + 1) / criteria.limit )|round(0, 'ceil') %}
    {% set totalPages = (entities.total / criteria.limit)|round(0, 'ceil') %}

    {% if totalPages > 1 %}
        <nav aria-label="pagination" class="pagination-nav d-flex justify-content-center justify-content-md-end mt-4 mb-4">
            {% block component_pagination %}
                {{ parent() }}
            {% endblock %}
        </nav>
    {% endif %}
{% endblock %}