{% sw_extends '@parent/storefront/component/customized-products/option-type/imageselect/selections.html.twig' %}

{% block swag_customized_products_option_type_template_select_input_list_radio_options_label_image %}
	<span class="swag-customized-products-option-type-select-checkboxes-label__property-image swag-customized-products-image-zoom">
		{% if optionValue.getValue._value %}
			<img src="{{ searchMedia([optionValue.getValue._value], context.getContext).first()|sw_encode_media_url }}" class="swag-customized-products-option__image rounded" alt="{{ optionValue.translated.displayName }}"/>

			{% block swag_customized_products_option_type_template_select_input_image_zoom_icon_open %}
				{{ parent() }}
			{% endblock %}

            {# Clearing zoom template #}
			{% block swag_customized_products_option_type_template_select_input_image_zoom_template %}
			{% endblock %}
		{% endif %}

	</span>
{% endblock %}
