.is-act-cartpage, .is-act-checkoutregisterpage, .is-act-confirmpage, .is-act-finishpage {
  /* Hide placeholders, doesnt work?? ToDo: find out why */
  input:placeholder {
    opacity: 0 !important;
  }

  /* Header minimal styling */
  .header-minimal.version-03 {
    padding: 20px 0;
    border-bottom: 1px solid #E5E2DD;

    .header-minimal-contact > strong:first-of-type {
      font-size: 18px !important;
    }
  }

  /* Add padding to titles of delivery-week-selector */
  .oo-delivery-week-selector-container h4 {
    padding-bottom: 15px;
    form {
        padding-bottom: 20px;
    }
  }

  .checkout-aside-action {
    padding: 0 !important;
  }

  /* Make price brand primary */
  .checkout-aside-summary-value b {
    color: $sw-color-brand-primary;
  }

  // Make sure that there is space between the items on the productrow
  .row.cart-item-row {
      justify-content: space-between;
  }

  /* Styling header */
  .checkout-main-steps {
    margin-bottom: 5px;
    padding: 20px;

    .progress-labels {
      min-width: 350px;
    }

    .progress, .step-label:not(.first) span:not(.active)::before {
        background: #727272 !important;
    }
    .step-label:not(.first) span {
      color: #727272 !important;
    }
  }

  /* Styling USPS */
  .vertical-usps {
    background: $sw-border-color;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px 30px;

    .product-detail-usp {
      li {
        margin-bottom: 10px;
      }
    }

    .usp-top-border, .usp-bottom-border {
      display: none;
    }
  }

  /* Styling content in sidebar */
  .oo-delivery-week-selector-container, 
  &.is-act-checkoutregisterpage .checkout-aside-summary,
  &.is-act-confirmpage .checkout-aside-summary {
    box-shadow: unset !important;
    border: 1px solid $sw-border-color;
    border-radius: 5px;
  }

  /* Styling headers inside checkout*/
  .card-title {
    border-bottom: none;
    padding-bottom: 10px;
    margin: 15px 0 !important;
    font-size: 28px;
  }

  /* Styling for login collapser */
  .register-login-collapse-toggle {
    border: 1px solid $sw-border-color;
    border-radius: 5px;
    padding: 15px 30px;
    width: auto;
    margin-bottom: 10px;
    max-width: 500px;
    .login-collapse-toggle {
        padding: 16px;
        color: black !important;
    }
  }

  /* Styling for collapsed login-card*/
  .card.login-card {
    padding: 32px;
    border: 1px solid $sw-border-color;
  }

  /* Add line above customerservice */
  .oo-custom-footer-wrapper > div {
    width: 100vw !important;
    border-top: 1px solid $sw-border-color;
    max-width: 1700px !important;
  }
}

// Add margin above cart.
.is-act-cartpage {
  .checkout {
      margin-top: 2rem;
  }
}

// Set order of usps and order button in aside of cart
.is-act-cartpage .checkout-aside-container {
  display: flex;
  flex-direction: column;

  .vertical-usps {
    order: 1;
  }
  
  .checkout-aside-action {
    order: 2;
  }
}

// Hide usps from confirmpage
.is-act-confirmpage .vertical-usps {
  display: none;
}

// Order items in aside
.is-act-confirmpage .checkout-aside-container {
  display: flex;
  flex-direction: column;
  
  .oo-delivery-week-selector-container {
      order: 1;
  }

  .checkout-aside-summary {
      order: 2;
  }

  .checkout-aside-action {
    display: none;
  }

  > div {
      order: 999;
  }
}

// Add paddings for desktop
@include media-breakpoint-up(sm) {
  .is-act-confirmpage .checkout-aside-container {
    padding-top: 55px;
  }
  .checkout-aside-container >div {
    padding: 38px !important;
  }
}
