{% sw_extends '@parent/storefront/page/checkout/address/index.html.twig' %}

{% block page_checkout_aside_usps_wrapper %}
    <div class="vertical-usps">
        <span class="h6">Daarom vloerkleed.nl</span>
        {% block page_checkout_aside_usps_content %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{# Hide sidebar-button #}
{% block oo_component_account_register_submit %}{% endblock %}

{# Add button in summary_list #}
{% block page_checkout_summary_list %}
    {{ parent() }}
    {% if displayButton %}
        <div class="register-submit">
            <button type="submit" class="register-external-submit btn btn-primary btn-lg w-100 mt-2">
                {{ "oo.checkout.buttons.submitInformation"|trans|sw_sanitize }} {% sw_icon 'arrow-head-right' style { 'size': 'sm' } %}
            </button>
        </div>
    {% endif %}
{% endblock %}

{# Remove strong from login-toggle #}
{% block page_checkout_address_login_toggle %}
    <div class="register-login-collapse-toggle">
        {% sw_icon 'avatar' %}
        <a href="#loginCollapse"
            class="login-collapse-toggle"
            data-toggle="collapse"
            aria-expanded="false">
            {{ "checkout.addressLoginToggle"|trans|sw_sanitize }}
        </a>
    </div>
{% endblock %}